.container
  %br
  .card.card-block
    %h4.card-title Clubs
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th
        %tbody
          - @clubs.each do |club|
            %tr
              %td= club.name
              %td
                %a{href: events_path(club_id: club.id), class: 'btn btn-warning'}
                  %i.fa.fa-calendar
                  Calendar
                = link_to "Show", club, class: 'btn btn-secondary'
                = link_to 'Edit', edit_club_path(club), class: 'btn btn-primary'
    .card-link= link_to "New club", new_club_path, class: 'btn btn-primary'