.jumbotron{style: 'background-color: white;'} 
  -# .align-items-center.justify-content-center
  .justify-content-center
    %br
    %br
    %table{:style => "height: 100px;"}
      %tbody
        %tr
        %tr
        %tr
        %tr
          %td.align-bottom 
            %img{:src => "data:image/png;base64,#{@base64_barcode_string}", class: 'img-fluid'}
    -#
      %div.justify-content-center
        .col-12
          %img{:src => "data:image/png;base64,#{@base64_barcode_string}", class: 'img-fluid'}