%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  %button.navbar-toggler.hidden-sm-up{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    \☰
  #exCollapsingNavbar2.collapse.navbar-toggleable-xs
    %a.navbar-brand{:href => root_path} 
      %i.fa.fa-flag
      CaddyVend
    %ul.nav.navbar-nav  
      %li.nav-item
        %a.nav-link{:href => events_path, :class => (current_page? events_path) ? "active" : ""} 
          %i.fa.fa-flag
          Rounds
      -#
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#", :class => (params[:controller] == 'events') ? "active" : ""}
            Rounds
            %b.caret
          %div.dropdown-menu
            %a.dropdown-item{:href => events_path, :class => (current_page? events_path) ? "active" : ""} 
              %i.fa.fa-search
              Rounds
            %a.dropdown-item{:href => calendar_events_path, :class => (current_page? calendar_events_path) ? "active" : ""} 
              %i.fa.fa-calendar
              Calendar
      -#
        %li.nav-item
          %a.nav-link{:href => events_path, :class => (current_page? events_path) ? "active" : ""} 
            %i.fa.fa-calendar
            Calendar
      %li.nav-item
        %a.nav-link{:href => customers_path, :class => ((params[:controller] == 'customers' and params[:action] == 'index') and not params[:balances] == 'true') ? "active" : ""} 
          %i.fa.fa-user-circle-o
          Members
      -#
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#", :class => (params[:controller] == 'customers' and (params[:action] == 'index' or params[:action] == 'show' or params[:action] == 'edit')) ? "active" : ""}
            %i.fa.fa-user-circle-o
            Members
            %b.caret
          %div.dropdown-menu
            %a.dropdown-item{:href => customers_path, :class => (params[:controller] == 'customers' and not params[:balances] == 'true') ? "active" : ""} 
              %i.fa.fa-search
              Members
            %a.dropdown-item{:href => customers_path(balances: true), :class => (params[:controller] == 'customers' and params[:balances] == 'true') ? "active" : ""} 
              %i.fa.fa-dollar
              Members with balance
      %li.nav-item
        %a.nav-link{:href => caddies_path, :class => (params[:controller] == 'caddies' and not params[:balances] == 'true') ? "active" : ""} 
          %i.fa.fa-vcard-o
          Caddies
      -#
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#", :class => (params[:controller] == 'caddies') ? "active" : ""}
            %i.fa.fa-vcard-o
            Caddies
            %b.caret
          %div.dropdown-menu
            %a.dropdown-item{:href => caddies_path, :class => (params[:controller] == 'caddies' and params[:action] == 'index' and not params[:balances] == 'true') ? "active" : ""} 
              %i.fa.fa-search
              Caddies
            %a{:href => caddies_with_balance_caddies_path, :class => (params[:controller] == 'caddies' and params[:action] == 'caddies_with_balance') ? "active dropdown-item" : "dropdown-item"} 
              %i.fa.fa-dollar
              Caddy with balance
            -#
              %a{:href => vendor_payables_path, :class => (params[:controller] == 'vendor_payables') ? "active dropdown-item" : "dropdown-item"} 
                %i.fa.fa-dollar
                Caddy with balance
            -#
              %a.dropdown-item{:href => caddies_path(balances: true), :class => (params[:controller] == 'caddies' and params[:action] == 'index' and params[:balances] == 'true') ? "active" : ""} 
                %i.fa.fa-dollar
                Caddies with balance
      -#
        %li.nav-item
          %a.nav-link{:href => courses_path, :class => (params[:controller] == 'courses') ? "active" : ""} 
            %i.fa.fa-tree
            Courses
      %li.nav-item
        %a.nav-link{:href => caddy_rank_descs_path, :class => (params[:controller] == 'caddy_rank_descs') ? "active" : ""} 
          %i.fa.fa-certificate
          Ranks
      %li.nav-item
        %a.nav-link{:href => caddy_pay_rates_path, :class => (params[:controller] == 'caddy_pay_rates') ? "active" : ""} 
          %i.fa.fa-credit-card-alt
          Rates
      -#
        %li.nav-item
          %a.nav-link{:href => reports_path, :class => (params[:controller] == 'reports') ? "active" : ""} 
            %i.fa.fa-file-text-o
            Reporting
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#", :class => (params[:controller] == 'transfers' or params[:controller] == 'reports' or params[:controller] == 'balance_logs') ? "active" : ""}
          %i.fa.fa-file-text-o
          Reporting
          %b.caret
        %div.dropdown-menu
          -#
            %a.dropdown-item{:href => transactions_path(withdrawals: true), :class => (params[:controller] == 'transactions' and params[:withdrawals] == 'true') ? "active" : ""} 
              %i.fa.fa-bolt
              EZCash Withdrawals
          %a{:href => transfers_path, :class => (params[:controller] == 'transfers') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-search
            Transfers
          %a{:href => caddies_with_balance_caddies_path, :class => (params[:controller] == 'caddies' and params[:action] == 'caddies_with_balance') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-dollar
            Caddies with balance
          %a{:href => customers_path(balances: true), :class => (params[:controller] == 'customers' and params[:balances] == 'true') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-dollar
            Members with balance
          %a.dropdown-item{:href => balance_logs_path, :class => (params[:controller] == 'balance_logs' and params[:action] == 'index') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-refresh
            Billing
          -#
            %a.dropdown-item{:href => reports_path, :class => (params[:controller] == 'reports' and params[:action] == 'index') ? "active" : ""} 
              %i.fa.fa-refresh
              Clear Transfers
          %a{:href => sms_messages_path, :class => (params[:controller] == 'sms_messages') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-commenting
            Text Messages
          
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %i.fa.fa-gear
          More
          %b.caret
        %div.dropdown-menu
          %a{:href => company_path(current_user.company.id), :class => (params[:controller] == 'companies') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-building
            = current_user.company.CompanyName
          %a{:href => edit_user_registration_path(current_user), :class => "dropdown-item"} 
            %i.fa.fa-user
            = current_user.email
          %a{:href => users_admin_index_path, :class => (params[:controller] == 'users') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-users
            Users
          -#
            %a{:href => transfers_path, :class => (params[:controller] == 'transfers') ? "active dropdown-item" : "dropdown-item"} 
              %i.fa.fa-dollar
              Transfers
          %a{:href => transactions_path, :class => (params[:controller] == 'transactions') ? "active dropdown-item" : "dropdown-item"} 
            %i.fa.fa-bolt
            EZCash
      .float-xs-right
        %li.nav-item= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' }, class: 'btn btn-outline-danger nav-link'