%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  %button.navbar-toggler.hidden-sm-up{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    \☰
  #exCollapsingNavbar2.collapse.navbar-toggleable-xs
    %a.navbar-brand{:href => root_path} 
      %i.fa.fa-flag
      CaddyVend
    %ul.nav.navbar-nav 
      - if current_user.active?
        %li.nav-item
          %a.nav-link{:href => events_path, :class => (params[:controller] == 'events') ? "active" : ""} 
            Rounds
        -#
          %li.nav-item
            %a.nav-link{:href => caddy_path(current_caddy), :class => (params[:controller] == 'caddies' and params[:action] == 'show') ? "active" : ""} 
              Caddy Details
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Caddy Details
            %b.caret
          %div.dropdown-menu
            - current_user.caddies_by_club(current_company.id).each do |caddy|
              %a.dropdown-item{:href => caddy_path(caddy), :class => current_course == caddy.course ? "active" : ""}= caddy.course.name
      .float-xs-right
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = current_company.CompanyName
            %b.caret
          %div.dropdown-menu
            - current_user.caddy_customers.each do |customer|
              %a.dropdown-item{:href => root_path(company_id: customer.CompanyNumber), :class => current_company == customer.company ? "active" : ""} 
                = customer.company.CompanyName
            -#
              - if current_user.active?
                %a.dropdown-item{:href => new_customer_path(type: 'club')} 
                  %i.fa.fa-plus-circle
                  Add Club
        %li.nav-item
          %a.nav-link{:href => edit_user_registration_path(current_user)} 
            %i.fa.fa-gear
            Settings
        %li.nav-item= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' }, class: 'btn btn-outline-danger nav-link'