-#
  %nav.navbar.fixed-bottom.navbar-light.bg-faded
    %div{class: 'navbar-brand navbar-center'}
      .col-xs-12
        = link_to "Powered by Transact", "https://www.TransactUSA.com", target: '_blank'