.row.form-group
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => events_path, :role => "button"}
      %i.fa.fa-calendar
      Calendar
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => courses_path, :role => "button"}
      %i.fa.fa-tree
      Courses 
.row.form-group
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => customers_path, :role => "button"}
      %i.fa.fa-user-circle-o
      Members
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => caddies_path, :role => "button"}
      %i.fa.fa-vcard-o
      Caddies
.row.form-group
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => caddy_rank_descs_path, :role => "button"}
      %i.fa.fa-certificate
      Ranks
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => caddy_pay_rates_path, :role => "button"}
      %i.fa.fa-credit-card-alt
      Rates
.row.form-group
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => transfers_path, :role => "button"}
      %i.fa.fa-dollar
      Transfers
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => transactions_path, :role => "button"}
      %i.fa.fa-bolt
      EZCash