.row.form-group
  - if current_user.company.include_rounds?
    .col-xs-12.col-sm-6
      %a.btn.btn-secondary.btn-lg.btn-block{:href => events_path, :role => "button"}
        %i.fa.fa-flag
        Rounds
  %div{class: "#{current_user.company.include_rounds? ? 'col-xs-12 col-sm-6' : 'col-xs-12'}"}
    %a.btn.btn-secondary.btn-lg.btn-block{:href => balance_logs_path, :role => "button"} 
      %i.fa.fa-refresh
      Billing
.row.form-group
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => customers_path, :role => "button"}
      %i.fa.fa-user-circle-o
      Members
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => caddies_path, :role => "button"}
      %i.fa.fa-vcard-o
      Caddies
- if current_user.company.include_rounds?
  .row.form-group
    .col-xs-12.col-sm-6
      %a.btn.btn-secondary.btn-lg.btn-block{:href => caddy_rank_descs_path, :role => "button"}
        %i.fa.fa-certificate
        Ranks
    .col-xs-12.col-sm-6
      %a.btn.btn-secondary.btn-lg.btn-block{:href => caddy_pay_rates_path, :role => "button"}
        %i.fa.fa-credit-card-alt
        Rates
.row.form-group
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => transfers_path, :role => "button"}
      %i.fa.fa-dollar
      Transfers
  .col-xs-12.col-sm-6
    %a.btn.btn-secondary.btn-lg.btn-block{:href => transactions_path, :role => "button"}
      %i.fa.fa-bolt
      EZCash