.row.form-group
  .text-xs-center
    -#
      %p.lead Caddy User
  - unless current_user.active?
    %p= content_tag(:div, "Your administrator must activate your account.", class: "alert alert-danger")
  - else
    .col-xs-6
      .pull-right
        %a.btn.btn-primary.btn-lg{:href => events_path, :role => "button"}
          Rounds
    .col-xs-6
      .pull-left
        -#
        %a.btn.btn-secondary.btn-lg{:href => show_caddy_customer_path(current_user.caddy_customer), :role => "button"}
          Details
        -#
          .btn-group
            %button#dropdownMenuButton.btn.btn-secondary.btn-lg.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Details
            .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
              - current_user.caddies_by_club(current_company.id).each do |caddy|
                %a.dropdown-item{:href => caddy_path(caddy)}= caddy.course.name