.row.form-group
  .text-xs-center
    %p.lead Member User
  .col-xs-6
    .pull-right
      %a.btn.btn-primary.btn-lg{:href => events_path, :role => "button"}
        Rounds
  .col-xs-6
    .pull-left
      %a.btn.btn-secondary.btn-lg{:href => customer_path(current_member), :role => "button"}
        = current_member.NameF