.row.form-group
  %h1
    %a.btn.btn-secondary.btn-lg{:href => events_path, :role => "button"}
      Rounds
    -#
      %a.btn.btn-secondary.btn-lg{:href => customers_path, :role => "button"}
        %i.fa.fa-user-circle-o
        Members
    %a.btn.btn-secondary.btn-lg{:href => caddies_path, :role => "button"}
      %i.fa.fa-vcard-o
      Caddies