.row
  .homepage-intro-header
    .container
      .col-lg-12
        .intro-message
          %h1 Caddy Vendor
          %br
          %h3 
            Lorem ipsum dolor sit amet quaestio iracundia.
            %br
            Iusto iisque • Sit reprimique
          -# %img.img-responsive{:alt => "", :src => image_path('logo_transparent_261x190.png')}
          %hr.intro-divider/
          %ul.list-inline.text-xs-center
            %li.list-inline-item
              .col-xs-12
                %a.btn.btn-secondary.btn-lg.btn-block{:href => events_path, :role => "button"}
                  %i.fa.fa-calendar
                  Calendar
            %li.list-inline-item
              .col-xs-12
                %a.btn.btn-secondary.btn-lg.btn-block{:href => clubs_path, :role => "button"}
                  %i.fa.fa-tree
                  Clubs
.row
  .intro-next
    .container
      .col-lg-12
        .intro-next-message
          %h2
            Lorem ipsum dolor sit amet, quaestio iracundia cum ex, numquam vocibus deserunt mel id, vix ea nemore scripserit. Vix an ipsum blandit, pri ei recteque explicari.
          %br
          %br
          %p.lead
            In mei minim iusto iisque, sit reprimique interpretaris te. Illum minim clita quo in. Probatus erroribus eam no, eu percipit atomorum has, 
            duis paulo invidunt ne vel. Albucius moderatius reprimique et cum, cu fuisset delicata usu. Cum eu purto antiopam. Invidunt vulputate inciderint 
            eu usu, in eum brute feugait.
