.row
  .homepage-intro-header
    .container
      .col-lg-12
        - flash.each do |name, msg|
          %p= content_tag(:div, msg, class: "alert alert-info")
        .intro-message
          - if user_signed_in?
            .row.form-group
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => events_path, :role => "button"}
                  %i.fa.fa-calendar
                  Calendar
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => clubs_path, :role => "button"}
                  %i.fa.fa-tree
                  Clubs 
            .row.form-group
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => customers_path, :role => "button"}
                  %i.fa.fa-user-circle-o
                  Members
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => caddies_path, :role => "button"}
                  %i.fa.fa-vcard-o
                  Caddies
            .row.form-group
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => caddy_rank_descs_path, :role => "button"}
                  %i.fa.fa-certificate
                  Ranks
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => caddy_pay_rates_path, :role => "button"}
                  %i.fa.fa-credit-card-alt
                  Rates
            .row.form-group
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => transfers_path, :role => "button"}
                  %i.fa.fa-dollar
                  Transfers
              .col-xs-12.col-sm-6
                %a.btn.btn-secondary.btn-lg.btn-block{:href => transactions_path, :role => "button"}
                  %i.fa.fa-bolt
                  EZCash
          - else
            %h1 Caddy Master
            %br
            %h3 
              Easy payment processing of members and caddies.
              %br
              No more cash • Fully automated
            %ul.list-inline.text-xs-center
              %li.list-inline-item
                .col-xs-12
                  %a.btn.btn-primary.btn-lg.btn-block{:href => new_user_session_path, :role => "button"}
                    Log In
              %li.list-inline-item
                .col-xs-12
                  %a.btn.btn-success.btn-lg.btn-block{:href => new_user_registration_path, :role => "button"}
                    Sign Up

.row
  .intro-next
    .container
      .col-lg-12
        .intro-next-message
          %h2
            Lorem ipsum dolor sit amet, quaestio iracundia cum ex, numquam vocibus deserunt mel id, vix ea nemore scripserit. Vix an ipsum blandit, pri ei recteque explicari.
          %br
          %br
          %p.lead
            In mei minim iusto iisque, sit reprimique interpretaris te. Illum minim clita quo in. Probatus erroribus eam no, eu percipit atomorum has, 
            duis paulo invidunt ne vel. Albucius moderatius reprimique et cum, cu fuisset delicata usu. Cum eu purto antiopam. Invidunt vulputate inciderint 
            eu usu, in eum brute feugait.
