#edit_event.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", onclick: "$('.modal-backdrop').remove(); $('.modal').hide();"} ×
        .modal-title 
          = @event.start.strftime("%-m/%-d/%y %l:%M %p")
      .modal-body
        = render 'remote_form', event: @event
