#new_event.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", onclick: "$('.modal-backdrop').remove(); $('.modal').hide();"} ×
        .modal-title 
          %h4= current_club.name
          %p.lead#new_event_start
      .modal-body
        = render 'form', event: @event
